.m-collection {
    .m-collection-list {
        .x();
        .mt(10px);
        .r(10px);
        .pointer();
        padding: 10px;
        border: 1px solid #e7e7e7;
        transition: 0.2s all;
        .u-img {
            .pt(130%);
            background-size: cover;
            background-position: center;
            .r(10px);
        }

        .u-title {
            .fz(18px);
            .bold();
            .mt(10px);
        }
        .u-time {
            .color(#878787);
            .fz(14px);
            .mt(5px);
        }
        &:hover {
            box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
        }
    }
}
